target/
tmp/
node_modules
.env
.envrc
.env.local
.claude
.codex
result
result-*
.direnv
late-ssh/assets/nonograms/.number-loom-validation/
server_key
server_key.pub

# draw.io temp/backup files
*.bkp
*.dtmp
*.drawio

late-ssh/cache/
