name "bertrand"
title "a medium sea turtle"
description "compact shell with a zigzag pattern, small eye, and a flipper mid-stride"
sauce author=mevanlc date=20260513 license=CCBYSA4.0

count 0

colors "#8BC714" "#414FBF" "#8367C3" "#E39A02"

left ###"""
  __.-^.^.^.^.._
/o  -'.'.'.'.'. \
'-''\ \-___-\ \``
     \_\     '-'
"""###

left1 ###"""
  __.-^.^.^.^.._
/o  -'.'.'.'.'. \
'-''\ \-___-\ \``
    \_\      '-'
"""###

left2 ###"""
  __.-^.^.^.^.._
/o  -'.'.'.'.'. \
'-''\ \-___-\ \``
     \_\     '-'
"""###

left3 ###"""
  __.-^.^.^.^.._
/o  -'.'.'.'.'. \
'-''\ \-___-\ \``
      \_\    '-' 
"""###

right ###"""
 _..^.^.^.^-.__
/ .'.'.'.'.'-  o\
``/ /-___-/ /''-'
 '-'     /_/
"""###

right1 ###"""
 _..^.^.^.^-.__
/ .'.'.'.'.'-  o\
``/ /-___-/ /''-'
 '-'      /_/
"""###

right2 ###"""
 _..^.^.^.^-.__
/ .'.'.'.'.'-  o\
``/ /-___-/ /''-'
 '-'     /_/
"""###

right3 ###"""
 _..^.^.^.^-.__
/ .'.'.'.'.'-  o\
``/ /-___-/ /''-'
 '-'    /_/
"""###
