name "floata"
title "a medium sized fish"
description "round of body, pectoral fins seem to disappear into tail, pointy mouth"
sauce author=mevanlc date=20260501 license=CCBYSA4.0


left ###"""
   .--.
 <(o ))))
   '--'
"""###

right ###"""
  .--.
(((( o)>
  '--'
"""###
