name "oldskool"
title "a school of anglefish"
description "they still remember the days of ascii"
sauce author=anonymous license=unlicense

motion "brownian"
unit-motion "brownian" rearrange-chance=0.1

preferences {
    nektonic 0.85
}

left ###"""
   <>< <><
    <><  <><
 <><   <><  <><
    <>< <><
"""### unit="<><"

right ###"""
   ><> ><>
    ><>  ><>
 ><>   ><>  ><>
    ><> ><>
"""### unit="><>"
