name "rugbert"
title "a large round fish"
description "body that looks a bit like a rugby ball; a big softy"
sauce author=mevanlc date=20260508 license=CCBYSA4.0

left ###"""
 .-"""-.
(o  ) )))><
 '-v..-`
"""###

right ###"""
   .-"""-.
><((( (  o)
   `-..v-'
"""###
