name "seahorse"
title "seahorse"
description "horses for land, seahorses for sea"
sauce author=mevanlc date=20260513 license=CCBYSA4.0

count 4

left ###"""
 -'\
   @
"""###

right ###"""
  /'-
  @
"""###
